<%- include("partials/header") %>
    <body>
        <h1>Dia 1</h1>
        <p>Conversor de Moedas</p>
        <form action="/processar" method="GET">
            <label for="valorEmReal">Valor Em Real</label>
            <input type="text" name="valorEmReal" id="valorEmReal">
            <label for="moeda">Moeda para ser convertido</label>
            <select name="moeda" id=""moeda>
                <option value="DolarAmericano">Dolar Americano</option>
                <option value="Euro">Euro</option>
                <option value="Bitcoin">Bitcoin</option>
            </select>
            <button>Converter</button>
        </form>
<%- include("partials/footer") %>
</body>