<%- include("partials/header") %>
<link rel="stylesheet" href="/css/estilo4.css">
</head>

<body>
  <div class="container">
    <h1 class="page-title">
      Dia 4 - Filmes Preferidos
    </h1>
    <img src="https://www.alura.com.br/assets/img/imersoes/dev-2021/logo-imersao-aluraflix.svg" class="page-logo" alt="">
    <p class="page-subtitle">
      Qual seu filme favorito?
    </p>
    <div class="form-wrapper">
      <input type="text" id="filme" name="filme" placeholder="Insira endereço de imagem">
      <button onClick="adicionarFilme()">Adicionar Filme</button>
    </div>
  </div>
  <div id="listaFilmes"></div>
  <a href="https://alura.com.br/" target="_blank">
    <img src="https://www.alura.com.br/assets/img/home/alura-logo.svg" alt="" class="alura-logo">
  </a>

  <form action="/filmespreferidos" method="GET">
    <label for="link">Adicione um filme</label>
    <input placeholder="insira o link da imagem do filme" type="text" name="link" id="link">
    <button>Adicionar</button>
  </form>
  
  <% if(images!=undefined){ %>
    <% images.forEach( image => { %>
      <img src="<%= image %>">
  <% })} %> </p>
</body>
<%- include("partials/footer") %>