<%- include("partials/header") %>
<link rel="stylesheet" href="/css/estilo4.css">
</head>

<body>
  <div class="container">
    <h1 class="page-title">
      Dia 4 - Filmes Preferidos
    </h1>
    <img src="https://www.alura.com.br/assets/img/imersoes/dev-2021/logo-imersao-aluraflix.svg" class="page-logo" alt="">
    <p class="page-subtitle">
      Qual seu filme favorito?
    </p>
    <div class="form-wrapper">
      <form action="/filmespreferidos" method="GET">
        <label for="filme">Adicione um filme</label>
        <input  placeholder="Insira endereço de imagem" type="text" name="filme" id="filme">
        <button class="adicionar">Adicionar Filme</button>
      </form>
    </div>
  </div>

  <div id="listaFilmes">
    <% if(filmes!=undefined){ %>
      <% filmes.forEach( filme => { %>
        <img src="<%= filme %>">
      <% }) %>
    <% } %>
  </div>

  <a href="https://alura.com.br/" target="_blank">
    <img src="https://www.alura.com.br/assets/img/home/alura-logo.svg" alt="" class="alura-logo">
  </a>

</body>
<%- include("partials/footer") %>