<%- include("partials/header") %>
</head>
<body>
    <h1>Imersão Dev Alura</h1>
    <p>Por Christian Oliveira</p>
    <a href="/converter">Visitar dia 1 da imersão Dev</a>
</body>
<%- include("partials/footer") %>