<%- include("partials/header") %>
<link rel="stylesheet" href="css/estilo1.css">
<!-- css/estilo.css pois o express está lendo diretamente a pasta public -->
</head>
<body>
    <h1>Imersão Dev Alura</h1>
    <p>Por Christian Oliveira</p>
    <div>
        <a href="/converter">DIA 1 da imersão Dev</a>
    </div>
<div>
    <a href="/advinhar">DIA 2 da imersão Dev</a>
</div>

</body>
<%- include("partials/footer") %>