<%- include("partials/header") %>
<link rel="stylesheet" href="css/estilo1.css">
<!-- css/estilo.css pois o express está lendo diretamente a pasta public -->
</head>

<body>
  <h1>Imersão Dev Alura</h1>
  <p>Por Christian Oliveira</p>
  <main>
    <nav class="menu-principal">
      <ul>
        <li><a href="/converter">DIA 1 - Conversor de Moedas</a></li>
      </ul>
      <ul>
        <li> <a href="/advinhar">DIA 2 - Mentalista</a></li>
      </ul>
      <ul>
        <li> <a href="/aluraflix">DIA 3 - Aluraflix</a></li>
      </ul>
      <ul>
        <li><a href="/filmespreferidos">DIA 4 - Filmes Preferidos</a></li>
      </ul>
      <ul>
        <li><a href="/tabeladepontos">DIA 5 - Tabela de Pontos</a></li>
      </ul>
    </nav>
  </main>

</body>
<%- include("partials/footer") %>